@using TP_DDS_MVC.Models.Proyectos;
@using TP_DDS_MVC.Models.Compras;
@model ProyectoFinanciamiento
@{
    ViewBag.Title = "AsociarEgreso";
    var listaEgresos = ViewBag.listaEgresos;
}

<h2>Asociar Egreso</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Monto</th>

        </tr>
    </thead>
    <tbody>

        @using (Html.BeginForm("Holaa", "ProyectoFinanciamiento", FormMethod.Post))
        {
            if (listaEgresos != null)
            {
                foreach (Egreso egreso in (List<Egreso>)listaEgresos)
                {
                    <tr>
                        <th scope="row"><input type="checkbox" name="egresosAsociados" id="egresosAsociados" checked="checked">egreso.idEgreso</th>
                        <td>egreso.idEgreso</td>
                        <td>egreso.montoTotal</td>
                    </tr>
                }

                if (listaEgresos.Count == 0)
                {
                    <tr>
                        <td></td>
                        <td>No hay egresos</td>
                        <td></td>
                    </tr>
                }
            }
            <input type="submit" value="Asociar">
        }
    </tbody>
</table>

