@using TP_DDS_MVC.Models.Ingresos;

@{
    ViewBag.Title = "Asociar Ingreso";
}

<div class="pb-3">
    <h3>Asociar un ingreso</h3>
</div>

@using (Html.BeginForm("AsociarIngreso", "ProyectoFinanciamiento", FormMethod.Post))
{
    <input hidden type="text" name="idProyecto" value=@ViewBag.idProyecto />
    <div class="form-row col mr-5">
        <div class="form-group">
            <label for="compra">Seleccione un ingreso:</label>
            <input class="form-control" list="compras" name="idIngreso" id="compra" type="text" placeholder="Seleccionar...">
            <datalist id="copmras">
                @foreach (Ingreso ing in (List<Ingreso>)ViewBag.ingresos)
                {
                    <option value="@ing.idIngreso">@ing.descripcion</option>
                }
            </datalist>
        </div>
        <input class="btn btn-success" type="submit" value="Asociar" />
    </div>
}
