@using TP_DDS_MVC.Models.Proyectos;
@using TP_DDS_MVC.Models.Compras;
@model ProyectoFinanciamiento
@{
    ViewBag.Title = "AsociarEgreso";
    var listaEgresos = ViewBag.listaEgresos;
}

<h2>Asociar Egreso</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Monto</th>

        </tr>
    </thead>
    <tbody>
        @if (listaEgresos != null)
        {
            foreach (Egreso egreso in (List<Egreso>)listaEgresos)
            {
                <tr>
                    <th scope="row"><input type="checkbox" checked="checked"></th>
                    <td>egreso.idEgreso</td>
                    <td>egreso.montoTotal</td>
                </tr>
            }

            <!--<input type="checkbox" name="bettingOfficeIDs" value="egreso.idEgreso">
        <td>egreso.montoTotal</td>-->
            if (listaEgresos.Count == 0)
            {
                <tr>
                    <td></td>
                    <td>No hay egresos</td>
                    <td></td>
                </tr>
            }
        }

    </tbody>
</table>



<span>
    @Html.ActionLink("Asociar", "Index", new { controller = "ProyectoFinanciamientoController" }, new { @class = "btn btn-secondary col-lg-1" })
</span>

