@using TP_DDS_MVC.Models.Proyectos;
@using TP_DDS_MVC.Models.Compras;
@model ProyectoFinanciamiento
@{
    ViewBag.Title = "AsociarEgreso";
    var listaEgresos = ViewBag.listaEgresos;
}

<h2>Asociar Egreso</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Monto</th>

        </tr>
    </thead>
    <tbody>

        @using (Html.BeginForm("Holaa", "ProyectoFinanciamiento", FormMethod.Post))
        {
            if (listaEgresos != null)
            {
                foreach (Compra egreso in (List<Compra>)listaEgresos)
                {
                    <tr>
                        <th scope="row"><input type="checkbox" name="egresosAsociados" id="egresosAsociados" checked="checked"></th>
                        <td>egreso.idCompra</td>
                        <td>egreso.descripcion</td>
                    </tr>
                }

                if (listaEgresos.Count == 0)
                {
                    <tr>
                        <td></td>
                        <td>No hay compras</td>
                        <td></td>
                    </tr>
                }
                @Html.Hidden("idProyecto", (string)ViewBag.id.ToString());
                <th scope="row"><input type="checkbox" name="egresosAsociados" id="propuesta2" checked="checked" hidden></th>
        }

        <input type="submit" value="Asociar" id=@ViewBag.id>
    }
        </tbody>
    </table>

