@using TP_DDS_MVC.Models.Proyectos;
@using TP_DDS_MVC.Models.Compras;

@{
    ViewBag.Title = "Asociar Egreso";
}

<div class="pb-3">
    <h3>Asociar una compra</h3>
</div>
@if (ViewBag.errorMsg != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @ViewBag.errorMsg
    </div>
}
<div class="ml-lg-5">
    @using (Html.BeginForm("AsociarEgreso", "ProyectoFinanciamiento", FormMethod.Post))
    {
        <input hidden type="text" name="idProyecto" value=@ViewBag.idProyecto />
        <div class="row">
            <div class="form-group">
                <label for="compra">Seleccione una compra:</label>
                @if (ViewBag.compras.Count == 0)
                {
                    <input class="form-control" type="text" placeholder="No hay compras para vincular" style="width:1000px" disabled>
                }
                else
                {
                    <input class="form-control" list="compras" name="idCompra" id="compra" type="text" placeholder="Seleccionar...">
                    <datalist id="compras">
                        @foreach (Compra comp in (List<Compra>)ViewBag.compras)
                        {
                            <option value="@comp.idCompra">@comp.descripcion</option>
                        }
                    </datalist>
                }
            </div>
        </div>
        <div class="row">
            @if (ViewBag.compras.Count == 0)
            {
                <input class="btn btn-success col-2 mr-3" type="submit" value="Asociar" disabled />
            }
            else
            {
                <input class="btn btn-success col-2 mr-3" type="submit" value="Asociar" />
            }
            @Html.ActionLink("Volver", "DetalleProyectos", "ProyectoFinanciamiento", new { id = ViewBag.idProyecto }, new { @class = "btn btn-secondary btn-md mr-4 col-1" })
        </div>
    }
</div>