@using TP_DDS_MVC.Models.Proyectos;
@using TP_DDS_MVC.Models.Compras;

@{
    ViewBag.Title = "Asociar Egreso";
    var compras = ViewBag.listaEgresos;
}

<div class="pb-3">
    <h3>Asociar una compra</h3>
</div>

@using (Html.BeginForm("AsociarEgreso", "ProyectoFinanciamiento", FormMethod.Post))
{
<input hidden type="text" name="idProyecto" value=@ViewBag.idProyecto />
<div class="form-row col mr-5">
    <div class="form-group">
        <label for="compra">Seleccione una compra:</label>
        <input class="form-control" list="compras" name="idCompra" id="compra" type="text" placeholder="Seleccionar...">
        <datalist id="copmras">
            @foreach (Compra comp in (List<Compra>)compras)
            {
                <option value="@comp.idCompra">@comp.descripcion</option>
            }
        </datalist>
    </div>
    <input class="btn btn-success" type="submit" value="Asociar"/>
</div>
}
