@using TP_DDS_MVC.Models.Proyectos;
@using TP_DDS_MVC.Models.Compras;
@model ProyectoFinanciamiento
@{
    ViewBag.Title = "AsociarEgreso";
    var listaEgresos = ViewBag.listaEgresos;
}

<h2>AsociarEgreso</h2>



@foreach (Compra egreso in (List<Compra>)listaEgresos)
{
    <tr>
        <th scope="row"><input type="checkbox" checked="checked"></th>
        <td>@egreso.idCompra</td>
        <td>@egreso.descripcion</td>
    </tr>
}


<span>
    @Html.ActionLink("Asociar", "Index", new { controller = "ProyectoFinanciamientoController" }, new { @class = "btn btn-secondary col-lg-1" })
</span>

