@using TP_DDS_MVC.Models.Otros;
@{
    ViewBag.Title = "Home Page";
    Usuario user = (Usuario)Session["usuario"];
}

<div class="alert alert-secondary mb-3" role="alert">
    <h4>Hola, @user.nombreUsuario</h4>
</div>

<div class="row">
    
</div>

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mis Compras</h5>
                    <a class="btn btn-primary btn-lg" href="~/compra/add" role="button">Crear nueva compra</a> <p></p>
                    <a class="btn btn-primary btn-lg" href="~/compra/egreso/list" role="button">Agregar egreso</a>
                    <!--No se que mas agregar ):-->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mis Ingresos</h5>
                    <!--LINKS-->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Proyectos</h5>
                   <!--LINKS-->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Mis Compras</h5>
                    <!--LINKS-->
                </div>
            </div>
        </div>
    </div>
</div>






@*<div class="alert alert-secondary" role="alert">
    <h2>Titulo de la pagina</h2>
</div>

<div class="row">
    contenido
</div>*@