@using TP_DDS_MVC.Models.Otros;
@{
    ViewBag.Title = "Home Page";
    Usuario user = (Usuario)Session["usuario"];
}

<div class="alert alert-secondary mb-3" role="alert">
    <h4>Hola, @user.nombreUsuario</h4>
</div>

<div class="row">

</div>

<div class="container pa0 flex justify-center">
    <div class="listings card-columns">
        <div class="card mv2">
            <div class="card-body">
                <h5 class="card-title">Mis Compras</h5>
                <p class="card-text">
                    Administrar mis compras
                </p>
                <a class="btn btn-primary btn-lg" href="~/compra/add" role="button">Crear nueva compra</a> <p></p>
                <a class="btn btn-primary btn-lg" href="~/compra/list" role="button">Listado</a>
            </div>
        </div>
        <div class="card mv2">
            <div class="card-body">
                <h5 class="card-title">Prestadores de Servicios</h5>
                <p class="card-text">
                    Administrar los prestadores de servicios de mis compras
                </p>
                <a class="btn btn-primary btn-lg" href="~/compra/prestador-de-servicios/add" role="button">Añadir prestador</a> <p></p>
                <a class="btn btn-primary btn-lg" href="~/compra/prestador-de-servicios" role="button">Listado</a>
            </div>
        </div>
        <div class="card mv2">
            <div class="card-body">
                <h5 class="card-title">Presupuestos</h5>
                <p class="card-text">
                    Administrar presupuestos de mis compras
                </p>
                <a class="btn btn-primary btn-lg" href="~/compra/presupuesto/add" role="button">Cargar nuevo presupuesto</a> <p></p>
                <a class="btn btn-primary btn-lg" href="~/compra/presupuesto" role="button">Listado</a>
            </div>
        </div>
        <div class="card mv2">
            <div class="card-body">
                <h5 class="card-title">Medios de Pago</h5> <!--REVISAR EL URL DE LISTADO-->
                <p class="card-text">
                    Administrar los medios de pago de mis compras
                </p>
                <a class="btn btn-primary btn-lg" href="~/compra/medio-de-pago/add" role="button">Añadir medio de pago</a> <p></p>
                <a class="btn btn-primary btn-lg" href="~/compra/medio-de-pago" role="button">Listado</a>
            </div>
        </div>
        <div class="card mv2">
            <div class="card-body">
                <h5 class="card-title">Mis ingresos</h5> <!--REVISAR LINKS-->
                <p class="card-text">
                    Administrar mis ingresos
                </p>
                <a class="btn btn-primary btn-lg" href="~/ingreso/add" role="button">Cargar nuevo ingreso</a> <p></p>
                <a class="btn btn-primary btn-lg" href="/ingreso/list" role="button">Listado</a>
            </div>
        </div>
        <div class="card mv2">
            <div class="card-body">
                <h5 class="card-title">Proyectos</h5> <!--Faltan links-->
                <p class="card-text">
                    Administrar mis proyectos
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Crear Proyecto</a> <p></p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Listado</a>
            </div>
        </div>
    </div>
    </div>










<!--   <div class="container pa0 flex justify-center">
       <div class="row row-cols-4">
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title">Mis Compras</h5>
                       <a class="btn btn-primary btn-lg" href="~/compra/add" role="button">Crear nueva compra</a> <p></p>
                       <a class="btn btn-primary btn-lg" href="~/compra/list" role="button">Listado</a>

                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title">Mis Ingresos</h5>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Cargar nuevo ingreso</a> <p></p>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Listado</a>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title">Medios de Pago</h5>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Añadir medio de pago</a> <p></p>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Listado</a>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title">Presupuestos</h5>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Cargar presupuesto</a> <p></p>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Listado</a>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title">Prestadores de Servicios</h5>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Añadir prestador</a> <p></p>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Listado</a>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card" style="width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title">Mis Proyectos</h5>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Crear Proyecto</a> <p></p>
                       <a class="btn btn-primary btn-lg" href="#" role="button">Listado</a>
                   </div>
               </div>
           </div>
       </div>
   </div>-->
@*<div class="alert alert-secondary" role="alert">
        <h2>Titulo de la pagina</h2>
    </div>

    <div class="row">
        contenido
    </div>*@