@using TP_DDS_MVC.Models.Ingresos;
@using TP_DDS_MVC.Models.Compras;
@model Ingreso
@{
    @section scripts {
        <script type="text/javascript" src="~/Scripts/MyScripts/agregarIngresoScript.js"></script>
    }
    var monedas = ViewBag.monedas;
}


<div class="mb-3">
    <h2>Cargar un Ingreso</h2>
</div>
<div id="error" class="alert alert-danger mb-3" role="alert">
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" class="form-control" type="text" placeholder="Descripcion">
    </div>
    <div class="form-group col">
        <label for="monto">Monto</label>
        <input id="monto" class="form-control" type="number">
    </div>
    <div class="form-group col">
        <label for="moneda">Seleccione una Moneda:</label>
        <input class="form-control" list="monedas" id="moneda" type="text" placeholder="Seleccionar...">
        <datalist id="monedas">
            @foreach (Moneda mone in (List<Moneda>)monedas)
            {
                <option value="@mone.id">@mone.description</option>
            }
        </datalist>
    </div>
</div>
<div class="form-row mb-4">
    <div class="form-group col">
        <label for="fecha">Fecha inicio:</label>
        <input class="form-control" id="fechaInicio" type="date">
    </div>
    <div class="form-group col">
        <label for="fecha">Fecha final:</label>
        <input class="form-control" id="fechaFin" type="date">
    </div>
</div>

<div class="mb-3">
    <span>
        <button class="btn btn-success col-lg-2" id="submit">Cargar</button>
        @Html.ActionLink("Cancelar", "Index", new { controller = "Ingreso" }, new { @class = "btn btn-secondary col-lg-1" })
    </span>
</div>


