@using TP_DDS_MVC.Models.Ingresos;
@using TP_DDS_MVC.Models.Compras;
@model Ingreso
@{ 
    ViewBag.Title = "Detalle Ingreso";
}

<div class="mb-3">
    <h2>Detalle Ingreso</h2>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" class="form-control" type="text" value="@Model.descripcion" disabled>
    </div>
    <div class="form-group col-md-6">
        <label for="monto">Monto total</label>
        <input id="monto" class="form-control" type="text" value=@Model.monto disabled>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="fechaDesde">Fecha de inicio de utilizacion</label>
        <input id="fechaDesde" class="form-control" type="text" value=@Model.fechaDesde disabled>
    </div>
    <div class="form-group col">
        <label for="fechaHasta">Fecha fin de utilizacion</label>
        <input id="fechaHasta" class="form-control" type="text" value=@Model.fechaHasta disabled>
    </div>
</div>

    <div class="mb-3">
        <h5>Egresos asociados</h5>
        
        <div class="form-row">
            @if (Model.egresosAsociados.Count == 0)
            {
                <p class="lead ml-3">Este ingreso no tiene egresos asociados</p>
            }
            else
            {
            <div class="form-group col-4">
                <ul>
                    @foreach (Egreso egreso in Model.egresosAsociados)
                    {
                        <li class="list-group-item">@egreso.idEgreso &nbsp;-&nbsp; $@egreso.montoTotal </li>
                    }
                </ul>
            </div>
            }

        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-10">
            @Html.ActionLink("Volver", "ListIngresos", new { controller = "Ingreso" }, new { @class = "btn btn-secondary" })
        </div>
    </div>

