
@{
    ViewBag.Title = "Login";
}

<div class="text-center">
    <h1 class="display-4">Sistema GEOC </h1>
    <p>Inicie sesion para continuar</p>

    @if (ViewBag.msg != null)
    {
        <p><b>@ViewBag.msg</b></p>
    }

    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        <input type="text" name="usuario" placeholder="Usuario" />
        <input type="password" name="password" placeholder="Password" />
        <p><br /><input type="submit" value="Iniciar sesión" /></p>
    }



</div>

