
@{
    ViewBag.Title = "panelAdmin";
}

<div class="jumbotron">
    <h1 class="display-3">Panel de administrador</h1>
    <p class="lead">Administración de usuarios y entidades</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/usuario/registrar" role="button">Registrar usuario</a>
        <a class="btn btn-primary btn-lg" href="~/usuario/listaUsuarios" role="button">Ver usuarios</a>
        <a class="btn btn-primary btn-lg" href="~/entidad/entidad-juridica/add" role="button">Crear o modificar entidad</a>

    </p>
</div>

<!-- acciones. registrar Usuario. Editar usuario. Ver informacion de usuarios. Crear y/o editar entidad(despues).-->

