@{
    ViewBag.title = "Inicio";
}

<div class="text-center">


    @if (ViewBag.msg != null)
    {
        <p class="text-danger">@ViewBag.msg</p>
    }
    @if (ViewBag.errorMsg != null)
    {
        <div class="alert alert-danger mb-3" role="alert">
            @ViewBag.errorMsg
        </div>
    }

    <h3>Regristar usuario</h3>

    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        <input type="text" name="usuario" placeholder="Usuario" />
        <input type="password" name="password" placeholder="Password" />
        <p> <input type="checkbox" name="esAdmin" value="administrador" /> ¿Es administrador? </p>
        <input type="submit" value="Registrarse" />
    }

</div>
