
@{
    ViewBag.Title = "VerEntidadError";
}

<h4>Error: el usuario no tiene una entidad cargada.<br\></h4>
<nbsp></nbsp>
<nbsp></nbsp>
<nbsp></nbsp>
<nbsp></nbsp>
<nbsp></nbsp>
<nbsp></nbsp>
@Html.ActionLink("Cargar una entidad", "MenuCargarEntidad", "Entidad", new { @class = "btn btn-secondary col-lg-1" })
