
@model TP_DDS_MVC.Models.Compras.MedioDePago
@{
    ViewBag.Title = "Agregar Medio de Pago";
    var mediosDePago = ViewBag.mediosDePago;
}

<h1>Agregar Medio de Pago</h1>
@if (ViewBag.errorMsg != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @ViewBag.errorMsg
    </div>
}
@using (Html.BeginForm("AddMedioDePago", "Compra", FormMethod.Post))
{

    <div class="container-md my-5 mx-3">
        <div class="row">

            <label for="medio">Instrumento</label>
            @Html.DropDownListFor(m=>m.tipo.id, new SelectList(mediosDePago, "id", "name"), "Medio De Pago...", new { @class = "form-control" })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Numero del instrumento</label>
            @Html.TextBoxFor(m => m.numero)

        </div>
        <br />
        <div class="row">
            <span>
                <input class="btn btn-success" type="submit" value="Agregar" />
                &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Cancelar", "Index", new { controller = "Compra" }, new { @class = "btn btn-secondary" })
            </span>
        </div>
    </div>

}
