@using TP_DDS
@using TP_DDS.Model.Compras
@model TP_DDS.Model.Compras.Presupuesto
@{
    ViewBag.Title = "AddPresupuesto";
    var compraId = ViewBag.compraId;
    if (compraId != null)
    {
        Model.idCompra = (int)compraId;
    }
}

<h2>Crear un Presupuesto</h2>

@using (Html.BeginForm("AddPresupuesto", "Compra", FormMethod.Post))
{
    if (compraId == null)
    {
        <label for="selectCompra">Seleccione la compra a la cual pertenece el presupuesto:</label>
        <input list="listCompras" id="selectCompra" name="selectCompra" />

        <datalist id="listCompras">
            @foreach(Compra compra in (List<Compra>)ViewBag.compras) {
                <option value="@compra.idCompra">@compra.descripcion</option>
            }
        </datalist>
    }
    <div class="container-md m-3">
        @ViewBag
    </div>



}


