@using TP_DDS_MVC.Models.Compras;
@model Presupuesto
@{
    ViewBag.Title = "Detalle Presupuesto";
}

<div class="alert alert-secondary my-4" role="alert">
    <h2>Detalle de Presupuesto: @Model.idDocComercial</h2>
</div>
<div class="container">
    <div class="form-row">
        <div class="form-group col-12">
            <label for="nroIdentificacion">Numero de Identificacion</label>
            <input id="nroIdentificacion" value=@Model.idDocComercial class="form-control" type="text" disabled>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="proveedores">Proveedor</label>
            <input list="proveedores" class="form-control" id="proveedor" value=@Model.prestadorDeServicios.razonSocial type="text" disabled>
        </div>
        <div class="form-group col-6">
            <label for="mediosDePago">Medio de Pago</label>
            <input list="mediosDePago" class="form-control" value=@Model.medioDePago.instrumento id="medioDePago" type="text" disabled>
        </div>
    </div>
    <h5>Lista de Items</h5>
    <div class="col-4">
        <ul class="list-group list-group-flush pb-5" id="listaItems">
            @foreach (Item i in Model.items)
            {
            <li class="list-group-item">@i.descripcion&nbsp;-&nbsp;$@i.valor c/u&nbsp;-&nbsp;@i.cant unidades</li>
            }
        </ul>
    </div>
    <span>
        <button class="btn btn-info col-lg-2" id="edit">Editar</button>
        @Html.ActionLink("Cancelar", "ListPresupuestos", new { controller = "Compra" }, new { @class = "btn btn-secondary col-lg-1" })
    </span>
</div>




