
@{
    ViewBag.Title = "Compras";
}

<div class="jumbotron">
    <h1 class="display-3">Compras</h1>
    <p class="lead">Carga de compras</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/compra/add" role="button">Crear nueva compra</a>
        <a class="btn btn-primary btn-lg" href="~/compra/prestador-de-servicios/add" role="button">Agregar prestador de servicios</a>
        <a class="btn btn-primary btn-lg" href="~/compra/medio-de-pago/add" role="button">Agregar metodo de pago</a>
        <a class="btn btn-primary btn-lg" href="~/compra/presupuesto/add" role="button">Agregar presupuesto</a>
        <a class="btn btn-primary btn-lg" href="~/compra/egreso/add" role="button">Agregar egreso</a>
    </p>
</div>
