@using TP_DDS_MVC.Models.Compras;
@model List<Compra>
@{
    ViewBag.Title = "ListCompras";
}


<div class="alert alert-secondary my-4" role="alert">
    <h2>Lista de compras</h2>
</div>

<div class="row">
    <div class="justify-content-start">
        <div class="shadow p-2 mb-3 bg-white rounded">
            <div class="row">
                <div class="col-lg-2 text-center">Descripcion</div>
                <div class="col-lg-1 text-center">Presupuestos</div>
            </div>
        </div>
        @foreach (Compra compra in Model)
        {
            <div class="shadow p-2 mb-2 bg-white rounded">
                <div class="row">
                    <div class="col-lg-3 text-center">@compra.descripcion</div>
                    <div class="col-lg-1 text-center">@compra.presupuestos.Count</div>
                    <div class="col-lg-1">@Html.ActionLink("Detalle", "ListCompras", "Compra", new { idCompra = compra.idCompra }, new { @class = "btn btn-info btn-sm" })</div>
                    <div class="col-lg-1">@Html.ActionLink("Editar", "EditCompra", "Compra", new { idCompra = compra.idCompra }, new { @class = "btn btn-secondary btn-sm" })</div>
                </div>
            </div>
        }
    </div>
</div>

